.container{
    display: flex;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    background: var(--bgSoft);
    cursor: pointer;
    width: 100%;
}

.container:hover{
    background-color: #2e374a;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.positive {
    color: lime;
}

.negetive {
    color: red;
}

.number {
    font-size: 24px;
    font-weight: 500;
}

.detail {
    font-size: 14px;
    font-weight: 300;
}